@(version: String = "5.4.3", experimental: Boolean = false)

<!-- including AUI version @version -->
<link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/@version/css/aui.css" media="all">
<!--[if lt IE 9]><link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/@version/css/aui-ie.css" media="all"><![endif]-->
<!--[if IE 9]><link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/@version/css/aui-ie9.css" media="all"><![endif]-->
@if(experimental) {<link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/@version/css/aui-experimental.css" media="all">}
