@(menu: String)

@ac.internal.menu_item(menu, "descriptor") { <a href="@com.atlassian.connect.playscala.controllers.routes.AcDocumentation.descriptor()">Defining your own descriptor</a> }
@ac.internal.menu_item(menu, "production") { <a href="@com.atlassian.connect.playscala.controllers.routes.AcDocumentation.production()">Preparing for production</a> }