@(menu: String = "")(head: Html)(content: Html)

@title = @{ "Welcome to the Atlassian Connect Play module!" }
@subtitle = @{ "Now let's make your plugin do something useful." }

@ac.internal.main(title) {
    @head
} {

    @ac.internal.header()

    <section id="content" role="main">
        <header class="aui-page-header">
            <div class="aui-page-header-inner">
                <div class="aui-page-header-image">
                    <div class="aui-avatar aui-avatar-xlarge aui-avatar-project">
                        <div class="aui-avatar-inner">
                            <img src="@com.atlassian.connect.playscala.controllers.routes.AcController.asset("img/ondemand-darkblueicon_small_trans.png")">
                        </div>
                    </div>
                </div>
                <div class="aui-page-header-main">
                    <h1>@title</h1>
                    <h2>@subtitle</h2>
                </div>
            </div>
        </header>

        <div class="aui-page-panel">
            <div class="aui-page-panel-inner">
                <div class="aui-page-panel-nav">
                    <nav class="aui-navgroup aui-navgroup-vertical">
                        <div class="aui-navgroup-inner">
                            @ac.internal.menu(menu)
                        </div>
                    </nav>
                </div>
                <section class="aui-page-panel-content">
                    <div id="aui-message-bar"></div>
                    @content
                </section>
            </div>
        </div>
    </section>
}